
<!--
    Powered by ZeroDream
	https://www.zerodream.top/xiuno.htm
	
	修改文件将有禁止使用帐户风险
-->

<?php include _include(ADMIN_PATH.'view/htm/header.inc.htm');?><?php echo $zd_plugin_read['html'];?><?php include _include(ADMIN_PATH.'view/htm/footer.inc.htm');?><?php if($zd_plugin_read['cache']) { ?><script> var plugin_read = JSON.parse('<?php echo json_encode($zd_plugin_read['plugin_read']);?>'); var back_url = '<?php echo $zd_plugin_read['back_url'];?>';</script><?php } ?><?php echo $zd_plugin_read['script'];?>